@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: #fff;
  color: #000;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.todolist-content,.todoadd-content {
  width: calc(100% - 6rem);
}
.action-todo {
  width: 5.2rem;
}